@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,900;1,400;1,900&display=swap');
:host{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
::ng-deep.ic-calculator {
	width: 320px;
  font-family: 'Raleway', sans-serif;
  display: block;
  margin:0 auto;
  .ic-title{
    font-weight: 900;
  }
}
